/* CSS RESET ......................................................................................................*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* CSS RESET ......................................................................................................*/

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);

  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}

header {
  padding: 2rem;
}

body {
  font-family: "Poppins", "Open Sans";
  font-size: 1rem;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_icon {
  height: 15px;
}

.header_a {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 3.1rem;
  border: 1px solid pink;
  color: var(--Light-Pink);
  font-size: 0.5rem;
  text-decoration: none;
}

.h1 {
  margin: 5rem 3.1rem 1.25rem 3.1rem;
  font-size: 1.3rem;
  font-size: clamp(1.3rem, 5vw, 3rem);
  text-align: center;
}

.paragraph {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin: 0 2.8rem;
}

.get_started_a_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get_started_a {
  border-radius: 3.1rem;
  background-color: var(--Pink);
  padding: 0.5rem 2.2rem;
  color: white;
  font-family: "Open Sans";
  font-size: 0.7rem;
  margin-top: 2.5rem;
  border: none;
}

.image_desktop_tablet {
  margin-top: 5rem;
  padding: 0 2.5rem;
}

.container_numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6.8rem;
  text-align: left;
  align-items: center;
  gap: 90px;
}

.subcontainer_numbers h2 {
  font-size: 3rem;
  margin: 0;
  font-family: "Open Sans";
}

.subcontainer_numbers p {
  margin: 0;
  color: grey;
  font-family: "Open Sans";
  text-align: center;
}

.container_numbers_img {
  height: 1.5rem;
}

.infographics {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10.6rem;
}

.infographics_subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infographics_subcontainer img {
  min-width: 19.4rem;
  margin: 5.5rem 0;
  padding: 0 2.5rem;
}

.infographics_subcontainer h3 {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.infographics_subcontainer p {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.9rem;
  margin: 1.25rem 1.25rem 5rem 1.25rem;
}

.infographics_subcontainer_1,
.infographics_subcontainer_3 {
  background-color: #f6fbff;
}

.ready_to_build_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4.3rem auto 12.5rem auto;
  text-align: center;
}

.ready_to_build_button {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 3.1rem;
  font-family: "Open Sans";
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  background-color: var(--Pink);
  margin-top: 1.25rem;
}

footer {
  background-color: var(--Very-Dark-Cyan);
  color: white;
  padding: 2rem;
}

.curve_mobile_footer {
  width: 100%;
}

footer h2 {
  font-size: 1.2rem;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

footer p {
  margin-top: 1.25rem;
  font-family: "Open Sans";
  font-size: 0.9rem;
}

footer input {
  border-radius: 0.6rem;
  margin-top: 1.25rem;
  width: 100%;
  padding: 0.6rem;
}

.button_footer {
  display: flex;
  justify-content: right;
  margin-top: 0.93rem;
  font-size: 1rem;
}

.button_footer button {
  padding: 0.6rem 2.5rem;
  border-radius: 0.3rem;
  background-color: var(--Pink);
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  border: none;
}

footer img {
  margin-top: 6.25rem;
  object-fit: cover;
  fill: white;
  color: white;
  background-color: white;
  height: 1.25rem;
}

.svg {
  margin-top: 6.25rem;
  fill: white;
}

.phone {
  content: url(images/icon-phone.svg);
  height: 0.93rem;
  margin-right: 0.6rem;
}

.mail {
  content: url(images/icon-email.svg);
  height: 0.93rem;
  margin-right: 0.6rem;
}

.social {
  margin: 3.1rem auto;
  display: flex;
  justify-content: left;
  gap: 1.25rem;
}

/* ACTIVE STATES*/

.header_a:hover {
  color: rgba(255, 192, 203, 0.694);
  border-color: rgba(255, 192, 203, 0.694);
  cursor: pointer;
}

.get_started_a:hover,
.ready_to_build_button:hover,
.button_footer button:hover {
  background-color: var(--Light-Pink);
  cursor: pointer;
}

.fab:hover {
  color: rgb(82, 213, 243) !important;
  cursor: pointer;
}

input:target {
  border-color: red;
}

@media (min-width: 56.25rem) {
  .h1 {
    margin: 3.125rem 3.125rem 1.25rem 3.125rem;
  }

  .paragraph {
    margin: 0 11.5625rem;
    margin-bottom: 1.25rem;
  }

  .get_started_a {
    padding: 1rem 8rem;
    font-size: 1rem;
  }

  .image_desktop_tablet {
    padding: 0 2.5rem;
  }

  .get_started_a {
    margin: 0;
  }

  .container_numbers {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    margin: 2.5rem 13.75rem 2.5rem 13.75rem;
  }

  .infographics {
    text-align: left;
  }

  .infographics_subcontainer {
    display: flex;
    flex-direction: row;
  }

  .infographics_subcontainer_text {
    flex: 1 1 50%;
    text-align: left;
    padding: 0 7.0625rem;
  }

  .infographics_subcontainer_image {
    flex: 1 1 50%;
    order: 2;
  }

  .infographics_subcontainer_text_2 {
    order: 2;
  }

  .infographics_subcontainer p {
    margin: 0;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: top;
    justify-content: space-between;
    padding: 5rem;
  }

  .footer_left {
    flex: 0 1 50%;
    order: 2;
    padding-right: 19.5625rem;
  }

  .footer_right {
    flex: 0 1 50%;
  }

  .svg {
    margin: 0;
  }
}

@media (min-width: 87.5rem) {
  .paragraph {
    margin: 0 26.75rem;
    margin-bottom: 1.25rem;
  }

  .container_numbers {
    margin: 2.5rem 20.9375rem;
  }
}
